<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring security sample</title>
</head>
<body>
<h2>Spring security sample</h2>
<hr/>
<h3>User Dashboard</h3>
<div sec:authorize="isAuthenticated()">
<b>Welcome!<span sec:authentication="principal.username"></span></b>
</div>
<br/>
<div sec:authentication="isAuthenticated()">
    <a th:href="@{/}" >Home</a> | <a href="@{/logout}">Logout</a>
</div>
</body>
</html>